doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Price

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='js/slick/slick-theme.css')
		link(rel='stylesheet', href='js/slick/slick.css')
		link(rel='stylesheet', href='css/style.css')

	body
		.container
			include includes/header

			h2 Аренда коттеджа на сутки в Омске

			.rent
				.rent__image
					img(src="images/cottage-1.png")
					.rent__title Коттедж №1
				.rent__wrapper
					.rent__prices
						.rent__price
							.rent__price-text Будни
							.rent__price-sum 6 000 <span>c</span>
						.rent__price
							.rent__price-text Пятница-Суббота
							.rent__price-sum 8 000 <span>c</span>
						.rent__price
							.rent__price-text Праздники
							.rent__price-sum 8 000 <span>c</span>
					.rent__text Площадь 200 м² <br> Коттедж содержит 4 спальни и гостиную.
					.rent__buttons
						a.rent__photo(href="#") 
							.rent__photo-border Фото объекта
						a.rent__order(href="#")
							.rent__photo-border Забронировать

			.rent
				.rent__image
					img(src="images/cottage-1.png")
					.rent__title Коттедж №2
				.rent__wrapper
					.rent__prices
						.rent__price
							.rent__price-text Будни
							.rent__price-sum 6 000 <span>c</span>
						.rent__price
							.rent__price-text Пятница-Суббота
							.rent__price-sum 8 000 <span>c</span>
						.rent__price
							.rent__price-text Праздники
							.rent__price-sum 8 000 <span>c</span>
					.rent__text Площадь 200 м² <br> Коттедж содержит 4 спальни и гостиную.

			.rent
				.rent__image
					img(src="images/cottage-1.png")
					.rent__title Коттедж №2
				.rent__wrapper
					.rent__prices
						.rent__price
							.rent__price-text Будни
							.rent__price-sum 6 000 <span>c</span>
						.rent__price
							.rent__price-text Пятница-Суббота
							.rent__price-sum 8 000 <span>c</span>
						.rent__price
							.rent__price-text Праздники
							.rent__price-sum 8 000 <span>c</span>
					.rent__text Площадь 200 м² <br> Коттедж содержит 4 спальни и гостиную. 

			.rent
				.rent__image
					img(src="images/cottage-1.png")
					.rent__title Коттедж №2
				.rent__wrapper
					.rent__prices
						.rent__price
							.rent__price-text Будни
							.rent__price-sum 6 000 <span>c</span>
						.rent__price
							.rent__price-text Пятница-Суббота
							.rent__price-sum 8 000 <span>c</span>
						.rent__price
							.rent__price-text Праздники
							.rent__price-sum 8 000 <span>c</span>
					.rent__text Площадь 200 м² <br> Коттедж содержит 4 спальни и гостиную.

			.rent__description Посуточная аренда коттеджа непременно порадует семейных отдыхаю Посуточная аренда коттеджа непременно порадует семейных отдыхаю Посуточная аренда коттеджа непременно порадует семейных отдыхаю Посуточная аренда коттеджа непременно порадует семейных отдыхаю Посуточная аренда коттеджа непременно порадует семейных отдыхаю

		include includes/back-call

		.container
			include includes/footer