form.back-call
	.container
		.back-call__header Хотите забронировать коттедж в Омске на сутки?
		.back-call__p Просто заполните форму ниже!
		
		.back-call__row
			.back-call__item
				input.back-call__input(placeholder="Ваше имя")
			.back-call__item
				input.back-call__input(placeholder="Контактный телефон")
			.back-call__item
				input.back-call__input(placeholder="Дата бронирования")
			.back-call__item
				input.back-call__submit(type="submit", value="Отправить")