footer.footer
	.copyright © «Уютный двор» 2016
	.footer__block
		.footer__adress г. Омск, ул. Свободная 161
		.footer__phone (3812) <span>50-74-79</span>
	.developer Создание сайта: 
		a.iteb(href="#") ITB-Company