.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding: 38px 0;

	@media @extrasmall {
		justify-content: center;
	}

	&__block {
		display: flex;
		flex-wrap: wrap;

		@media @extrasmall {
			justify-content: center;
			margin-bottom: 25px;
		}
	}

	&__adress,
	&__phone {
		padding-left: 25px;

		position: relative;
	}

	&__adress {
		margin-right: 70px;

		font-size: 14px;

		@media @extrasmall {
			margin-right: 0;
			margin-bottom: 25px;
		}
	}

	&__phone {
		font-size: 20px;
		line-height: 20px;

		& > span {
			font-family: 'OpenSansBold';
		}
	}

	&__adress::before {
		content: '';

		width: 20px;
		height: 20px;

		background: url('../images/icons.png') no-repeat -15px -37px;
		position: absolute;
		left: 0;

		@media @extrasmall {
			background: url('../images/icons.png') no-repeat -15px -93px;
		}
	}

	&__phone::before {
		content: '';

		width: 20px;
		height: 20px;

		background: url('../images/icons.png') no-repeat -15px -64px;
		position: absolute;
		left: 0;

		@media @extrasmall {
			background: url('../images/icons.png') no-repeat -15px -120px;
		}
	}
}

.copyright,
.developer {
	font-size: 14px;
}

.copyright {
	@media @extrasmall {
		order: 1;
		margin-bottom: 25px;
	}
}

.developer {
	@media @extrasmall {
			order: 2;	
	}

	& a {
		color: #d74444;
	}
}